.vue-Message {
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 10000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vue-Message .vue-Message-Detail {
    cursor: default;
    box-sizing: border-box;
    display: inline-block;
    user-select: none;
    word-wrap: break-word;
    width: auto;
    max-width: 80%;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    font-family: SourceHanSansCN-Regular;
    padding: 6px 12px;
}
.vue-Message.bottom {
    bottom: 10%;
    left: 0;
    transform: translate(0, 0);
}
.vue-Message.bottom.fade-up-enter {
    opacity: 0;
    transform: translate(0, 10px);
}
.vue-Message.center {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.vue-Message.center.fade-up-enter {
    opacity: 0;
    transform: translate(0, calc(-50% + 10px));
}
.vue-Message.top {
    top: 10%;
    left: 0;
    transform: translate(0, 0);
}
.vue-Message.top.fade-up-enter {
    opacity: 0;
    transform: translate(0, 10px);
}
.vue-Message.fade-up-enter-to, .vue-Message.fade-up-leave-to {
    transition: all 0.3s ease;
}
.vue-Message.fade-up-leave-to {
    opacity: 0;
}
